* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f9f8f6;
    color: #333;
}

/* HERO SECTION */
.hero {
    background: url('https://breeze.academy/wp-content/uploads/2025/02/yoga-affect-breathing-1500x1200.webp') 
                no-repeat center/cover;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.hero-content h1 {
    font-size: 3rem;
    color: white;
    max-width: 700px;
}

.hero-content h1 span {
    color: #ffe082;
}

.hero-content p {
    color: #f1f1f1;
    margin: 15px 0 25px;
    max-width: 500px;
   text-align: center;
}

.cta-btn {
    padding: 12px 30px;
    background: #ffe082;
    color: #333;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.3s;
}

.cta-btn:hover {
    background: #ffca28;
}

/* BENEFITS */
.benefits {
    padding: 50px 20px;
    text-align: center;
}

.benefits h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.benefit-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.benefit-card {
    background: white;
    padding: 25px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* LEAD FORM */
.lead-section {
    background: #fff3e0;
    padding: 60px 20px;
    text-align: center;
}

.lead-section h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.form-box {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-box input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
}

.form-box button {
    padding: 12px;
    background: #ffb300;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.form-box button:hover {
    background: #ffa000;
}

/* FOOTER */
.footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
